/* You can add global styles to this file, and also import other style files */
.flexBetween{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.flexCenter{
    display: flex;
    justify-content: center;
    padding: 15px;  
}

.column{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}